@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="lead mt-3"><strong>tl;dr;</strong> 360+AI stores as little about you as possible by design.</p>
<p>The source code for this repository is <a href="https://github.com/williamparry/360plus.ai" target="_blank" rel="noopener noreferrer">here</a>. Run it on your own infrastructure.</p>

<ul>
    <li>Personal details are not asked for or stored in the 360+AI database (unless put as part of an answer, which is discouraged)</li>
    <li>All your data lives in the database for 7 days or until you download your report, whichever comes sooner</li>
    <li>This is the <a href="https://openai.com/api/policies/privacy/" target="_blank" rel="noopener noreferrer">OpenAI Privacy Policy</a></li>
</ul>